<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Squarestore!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="sq-viewport">
  <div class="sq-1-3-grid">
    <nav class="sq-nav-area">
      <div role="navigation" class="sq-navbar-layout">
  		<div class="sq-navbar-nav  sq-secondary sq-text-right">
      <!--links -->
      <div class="sq-air-x-05">
      	<a href="#" class="sq-text-white sq-secondary sq-r-border sq-x-padding-05">Welcome to our store!</a>
      	<a href="#" class="sq-text-white sq-secondary sq-r-border sq-x-padding-05">Sign up for our newsletter</a>
      	<a href="#" class="sq-text-white sq-secondary sq-x-padding-05">Contact us</a>
      </div>
      <!--NAVBAR Part 2/3-->
  		</div>
  			<div class="sq-navbar-domain  sq-secondary" style="width:100%;display:flex;">
  				<a href="/homepage" class="sq-text-white sq-secondary">DummyDomain</a>
  				<div class="sq-flex-1"></div>
  				<!-- Searchbar -->
  				<div class="sq-flex-auto sq-form">
  					<input type="text" placeholder="Search..." name="search" class="sq-nav-margin">
  				</div>
  				<!--ShoppingCart & SignIn buttons -->
  				<div class="sq-flex-1 sq-text-right">
  					<div class="sq-air-x-05 sq-nav-btn-group2 sq-flex-1">
        			<!-- UserButton -->
        			<button onclick="toggleModal('myModal')">
          			<svg id="i-user" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              	<path d="M22 11 C22 16 19 20 16 20 13 20 10 16 10 11 10 6 12 3 16 3 20 3 22 6 22 11 Z M4 30 L28 30 C28 21 22 20 16 20 10 20 4 21 4 30 Z" />
          			</svg>
        			</button>
        			<!-- ShoppingCartButton -->
        			<button>
          			<svg id="i-cart" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              	<path d="M6 6 L30 6 27 19 9 19 M27 23 L10 23 5 2 2 2" />
              	<circle cx="25" cy="27" r="2" />
              	<circle cx="12" cy="27" r="2" />
          			</svg>
        			</button>
    				</div>
  				</div>
  			</div>
  			<!--NAVBAR Part 3/3 -->
  			<div class="sq-navbar-links sq-secondary-highlight sq-text-center">
  				<div class="sq-nav-btn-group">
  					<Button>Categories</Button>
  					<button>Some really cool things</button>
  					<button>Some products</button>
  					<button>other products</button>
  					<button>other products</button>
  					<button>All Products</button>
  					<button>Campaign products</button>
  				</div>
  			</div>
  		</div>
    </nav>
    <main role="" class="sq-main">
    	<%= render @view_module, @view_template, assigns %>
    </main>
    <footer class="sq-secondary">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <div style="justify-content: space-around; margin-top: -0.4rem;" class="sq-secondary sq-flex sq-flex-row sq-justify-center"><div>
        <a href="#" onclick="toggleModal2()" class="sq-text-white sq-secondary">Social media</a>
      </div>
      <div>
        Phone: <a href="tel:0000" class="sq-text-white sq-secondary">#########</a>
      </div>
      <div>
        <a href="/about" class="sq-text-white sq-secondary">About</a>
      </div>
      <div>
        <a href="/support" class="sq-text-white sq-secondary">Support</a>
      </div>
      <div>
        <a href="/faq" class="sq-text-white sq-secondary">FAQ</a>
      </div>
      <div>
        <a href="mailto:nobody@online.no" class="sq-text-white sq-secondary">Mail</a>
      </div>
    </div>
  </footer>
  <div>
    <div onclick="toggleModal2()" id="socialMedia" class="sq-modal-social-media">
      <div onclick="toggleModal2()" class="sq-secondary sq-modal-content-social-media">
        <span class="sq-secondary sq-close-button" onclick="toggleModal2()">&times;</span>
        <!--box-->
          <div class="sq-social-media-icons">
            <div>
              <svg id="i-twitter" viewBox="0 0 64 64" width="8rem" height="8rem">
              <path stroke-width="0" fill="currentColor" d="M60 16 L54 17 L58 12 L51 14 C42 4 28 15 32 24 C16 24 8 12 8 12 C8 12 2 21 12 28 L6 26 C6 32 10 36 17 38 L10 38 C14 46 21 46 21 46 C21 46 15 51 4 51 C37 67 57 37 54 21 Z"/>
              </svg>
            </div>
            <div>
              <svg id="i-twitter" viewBox="0 0 64 64" width="8rem" height="8rem">
              <path stroke-width="0" fill="currentColor" d="M60 16 L54 17 L58 12 L51 14 C42 4 28 15 32 24 C16 24 8 12 8 12 C8 12 2 21 12 28 L6 26 C6 32 10 36 17 38 L10 38 C14 46 21 46 21 46 C21 46 15 51 4 51 C37 67 57 37 54 21 Z"/>
              </svg>
            </div>
            <div>
              <svg id="i-twitter" viewBox="0 0 64 64" width="8rem" height="8rem">
              <path stroke-width="0" fill="currentColor" d="M60 16 L54 17 L58 12 L51 14 C42 4 28 15 32 24 C16 24 8 12 8 12 C8 12 2 21 12 28 L6 26 C6 32 10 36 17 38 L10 38 C14 46 21 46 21 46 C21 46 15 51 4 51 C37 67 57 37 54 21 Z"/>
              </svg>
            </div>
            <div>
              <svg id="i-twitter" viewBox="0 0 64 64" width="8rem" height="8rem">
              <path stroke-width="0" fill="currentColor" d="M60 16 L54 17 L58 12 L51 14 C42 4 28 15 32 24 C16 24 8 12 8 12 C8 12 2 21 12 28 L6 26 C6 32 10 36 17 38 L10 38 C14 46 21 46 21 46 C21 46 15 51 4 51 C37 67 57 37 54 21 Z"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /page -->

	<!--login modal -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
	<div class="sq-modal" id="myModal" >
	    <div class="sq-modal-body" style="width:24rem;">
			<header>
	            <div class="sq-close-button" onclick="toggleModal('myModal')">&times;</div>
	        </header>
	        <div class="sq-modal-content">
					<section>
						<form class="sq-form" action="index.html" method="post">
	        				<fieldset>
	          					<legend>Login</legend>
	          					<label>Email</label>
	          					<input type="email" name="" value="" placeholder="E-mail">
	          					<label>Password</label>
	          					<input type="password" name="" value="" placeholder="Password">
	          					<div class=" sq-container">
									<a href="/homepage">
										<div class="sq-justify-left">
												<button type="button" name="">Login</button>
										</div>
									</a>
									<a href="/reguser">
										<div class="sq-justify-right">
											<button type="button" name="">New user</button>
										</div>
									</a>
	          					</div>
	        				</fieldset>
						</form>
	                </section>
	        </div>
	    </div>
	</div>
<!--Login modal end -->
</body>
</html>
<script>
function toggleModal2(socialMedia) {
var social = document.getElementById("socialMedia");
social
    .classList
    .toggle("sq-show-modal");
}
window.toggleModal = (id)=> {
var modal = document.getElementById(id);
modal.classList.toggle('sq-modal-show');
};
</script>
