/* This file is for your main application css. */

/* FlexBox*/

.sq-flex-1{
flex: 1;
}
.sq-flex-auto{
    flex: auto;
}

/* Paul Buttons */

.sq-nav-btn-group button {
    background-color: var(--secondary-highlight);
    border: none;
    color: white;
    padding: 8px 15px;
    cursor: pointer;

}

/* Clear floats (clearfix hack) */
.sq-nav-btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.sq-nav-btn-group button:not(:last-child) {
    border-right: none;
}


.sq-nav-btn-group button:hover {
    background-color: var(--secondary-transparancy);
}
/* PK products layout area classes */
.sq-products-layout-area-button{
  grid-area:1 / 1 / span end / span 1;
}
.sq-products-layout-area-header{
  grid-area: 1 / 2 / span 1 /span end;
}
.sq-products-layout-area-cards{
  grid-area: 2 / 2 / span end / span end;
}
/* PK product cards */
.sq-products-card{
  width:25rem;
  height:20rem;
  background-color: var(--background);
  margin:0;
}

/* 2nd NAV buttons*/

.sq-btn-3 button {
  background-color: var(--secondary);
  border: none;
  color: white;
  padding: 4px 20px;
  cursor: pointer;
  background-color: var(--secondary);
  border: none;
  color: white;
  padding: 4px 20px;
  cursor: pointer;
}
.sq-btn-3 button:hover {
  background-color: var(--secondary-highlight);
}
.sq-nav-btn-group2 button {
  background-color: var(--secondary);
  border: none;
  color: white;
  padding: 4px 20px;
  cursor: pointer;
}
.sq-nav-btn-group2:after {
  content: "";
  clear: both;
  display: table;
}
.sq-nav-btn-group2 button:not(:last-child) {
  border-right: none;
}
.sq-nav-btn-group2 button:hover {
  background-color: var(--secondary-highlight);
}
.sq-nav-margin{
   margin-top: -0.5em;
   margin-right: 5em;
   margin-left: -3em;
}
/* PK products layout area classes */
.sq-products-layout-area-button{
grid-area:1 / 1 / span end / span 1;
}
.sq-products-layout-area-header{
grid-area: 1 / 2 / span 1 /span 7;
}
.sq-products-layout-area-cards{
grid-area: 2 / 2 / span end / span end;
}
.sq-products-search-layout-area-panel{
  grid-area: 2 / 2 / span 1 / span 7;
}
.sq-products-table-layout-area-panel{
  grid-area: 3 / 2 / span end / span 7;
}
.sq-mr-4-7{margin-right: 4.7em}
/* PK flex */
.sq-flex-wrap{
  flex-wrap:wrap;
}
.sq-flexbox-row{
  display:flex;
  flex-direction:row;
}
.sq-flexbox-column{
  display:flex;
  flex-direction:column;
}
/* Invoice layout area */
.sq-layout-area-invoice{
  grid-area: 2 / 3 / span 3 / span 5;
}

/*Alex homepage css */
.sq-grid-area-landing-slideshow{
  grid-area: 1 / 2 / span 2 / span 7;
}
.sq-grid-area-landing-campaign{
  grid-area: 3 / 2 / span 2 / span 7;
}
.sq-grid-area-landing-best{
  grid-area: 5 / 2 / span end / span 3;
}
.sq-grid-area-landing-news{
  grid-area: 5 / 6 / span end / span 3;
}
.sq-landing-card{
  width:12rem;
  height:14rem;
  background-color:lightgrey;
  margin:0.5em;
}
/*custom admin modal window for products*/
.sq-modal-content-admin-prod{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30rem;
  width: 30rem;
  transform: translate(-50%, -50%);
  background-color: white;
}
  /* Bruker admin */
.sq-admin-bruker-datapanel{
	grid-area: 1 / 2 / span 2 / span 3;
	margin: 0.5em;
}

.sq-admin-bruker-listepanel{
	grid-area: 3 / 2 / span 3 / span 7;
	margin: 0.5em;
}

.sq-admin-bruker-logpanel{
	grid-area: 1 / 6 / span 2 / span 3;
	margin: 0.5em;
}
.sq-invoice-card{
  background-color: var(--background);
  box-shadow: 0 1px 3px var(--shadow-0c), 0 1px 2px var(--shadow-18);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.sq-invoice-card th, .sq-invoice-card td{
  border:none;
  padding:0.5em;
}
/* overflow */
.sq-overflow-hidden{ overflow: hidden;}

.sq-overflow-scroll{overflow: scroll;}

/* Product details */
.sq-p-details{
	grid-area: 4 / 2 / span end / span 7;
	margin-top: 0.5em;
}
.sq-p-bildepanel{
	grid-area: 1 / 2 / span 3 / span 3;
	margin-right: 0.5em;
	margin-top: 0.5em;
}
.sq-p-logpanel{
	grid-area: 1 / 5 / span 3 /span 4;
	margin-top: 0.5em;
}
.sq-p-align-end{
	margin-top: auto;
	align-content: end;
}
.sq-p-price-card{
	display: flex;
	background-color: var(--background);
}
/* Bjørn og Thomas Shoppingcart */
.sq-main-topp{
	grid-area: 1 / 1 / span 1 / span end;}
.sq-main-middle{grid-area: 2 / 1 / span 2 / span end;
; }
.sq-main-bot{grid-area:5 / 1 / span 1 / span end;}
.sq-width-4{width:4em;}
.sq-height-2{height:2em;}
.sq-align-items-center{align-items:center;}
.sq-align-items-end{align-items:flex-end;}

.sq-item-card{
  width:7rem;
  height:7rem;
  max-width: 7rem;
  max-height: 7rem;
  border:1px solid black;
  margin-bottom: 0.5em;
  }
  .max-width-14{
    max-width:14%;
    width:13%;
}
.max-width-15{
  max-width:15%;
  width:14%;
}

.max-width-30{
  max-width:30%;
  width:29%;
}
.sq-ml-02{margin-left: 0.75em;}
.sq-mt-09{margin-top: 0.9em;}
.sq-ml-9{margin-left: 9em;}
.sq-ml-10-5{margin-left: 10.5em;}
.sq-ml-11{margin-left:11em;}
.sq-ml-13-5{margin-left:13.5em;}
.sq-ml-15{margin-left:15em;}
.sq-ml-43{margin-left:43em;}
.sq-mr-15{margin-right:15em;}

 .sq-ml-85{margin-left:85%;}
  .sq-flex-row{
    display:flex;
    flex-direction:row;
  }

  .sq-flex-column-s{
    display:flex;
    flex-direction:column;
  }

/* social media modal box */
.sq-modal-social-media{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-05)transparent;
  opacity: 0;
  visibility: hidden;
  transform: translateY(130%);
  transition-timing-function: ease-in;
  transition: 1s;
}
.sq-modal-content-social-media{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 20rem;
  width: 20rem;
  transform: translate(5%, -15%);
  background-color: white;
}
.sq-show-modal-social{
  opacity: 1;
  visibility: visible;
  transform: bottom scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.sq-social-media-icons{
  justify-content:center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem;
}
.sq-modal-user-page{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-05);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.sq-modal-content-user{
  justify-content:center;
  position: absolute;
  height: 23rem;
  width:20rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.sq-change-user-modal-window{
  margin: 2rem;
  margin-top: 0rem;
}

/* Footer Bottom */ 

.sq-b-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.sq-1-3-grid{
 
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 1fr 5%  ;
  height:100vh;  

}