:root{
    --text-base: #333;
    --text-white: #fafafa;
    --primary: #1399dd;
    --primary-highlight: #e8eff7;
    --secondary: #2a5c99;
    --secondary-transparancy: #235aa0;
    --secondary-highlight: #1a447a;
    --background: #fafafa;
    --background-secondary: #ededed;
    --success: #3f9c35;
    --success-highlight: #9ecf99;
    --info: #66a8ff;
    --info-highlight: #95c1f9;
    --warning: #ffc342;
    --warning-highlight: #ffbc5e;
    --danger: #f93131;
    --danger-highlight: #f91919;
    --black: #0c0c0c;
    --grey: #d6d6d6;
    --white: #fafafa;
    --muted: #b7b7b7;
    --muted-highlight: #666;
    --divider: #d6d6ff;

	/* Shadows*/
	--shadow-02: #00000002;
	--shadow-05: #00000005;
	--shadow-0c: #0000000c;
	--shadow-10: #00000010;
	--shadow-13: #00000013;
	--shadow-16: #00000016;
	--shadow-17: #00000017;
	--shadow-18: #00000018;
	--shadow-19: #00000019;
	--shadow-1E: #0000001E;
}
.sq-text-base{color: var(--text-base);}
.sq-danger-highlight{background-color: var(--danger-highlight);}
.sq-background{background-color: var(--background);}
.sq-background-secondary{background-color: var(--background-secondary);}
.sq-black{color: var(--black);}
.sq-grey{color: var(--grey);}
.sq-white{background-color: var(--white);}
.sq-muted{color: var(--muted);}
.sq-muted-highlight{color: var(--muted-highlight);}
.sq-divider{color: var(--divider);}
.sq-primary-highlight{background-color: var(--primary-highlight);}
.sq-secondary-transparancy{background-color: var(--secondary-transparancy);}
.sq-secondary-highlight{background-color: var(--secondary-highlight);}
.sq-success-highlight{background-color: var(--success-highlight);}
.sq-info-highlight{background-color: var(--info-highlight);}
.sq-warning-highlight{background-color: var(--warning-highlight);}
.sq-primary{
    color: var(--text-white);
    background-color: var(--primary);
}
.sq-text-white{
	color: var(--text-white);
	background-color: var(--black);
}
.sq-secondary{
    color: var(--text-white);
    background-color: var(--secondary);
}
.sq-success{
    color: var(--text-white);
    background-color: var(--success);
}
.sq-info{
    color: var(--text-white);
    background-color: var(--info);
}
.sq-warning{
    color: var(--text-white);
    background-color: var(--warning);
}
.sq-danger{
    color: var(--text-white);
    background-color: var(--danger);
}
/*misc*/
.sq-background-black{background-color: var(--black);}
.sq-background-grey{background-color: var(--grey);}
.sq-background-lightgrey{background-color: var(--muted);}
.sq-background-lightblue{background-color: var(--info-highlight);}
.sq-background-green{background-color: var(--success);}
.sq-background-red{background-color: var(--danger-highlight);}

/* Shadows */

.sq-shadow-lt{
    box-shadow: 0 0.063em 0.188em var(--shadow-0c), 0 0.063em 0.125em var(--shadow-17);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .sq-shadow-lt:hover{
    box-shadow: 0 0.875em 1.750em var(--shadow-19), 0 0.625em 0.625em var(--shadow-16);
  }
  .sq-shadow-sm{
    box-shadow: 0 0.188em 0.375em var(--shadow-10), 0 0.188em 0.375em var(--shadow-17);
  }
  .sq-shadow-md{
    box-shadow: 0 0.625em 1.250em var(--shadow-13), 0 0.375em 0.375em var(--shadow-17);
  }
  .sq-shadow-lg{
    box-shadow: 0 0.875em 1.750em var(--shadow-19), 0 0.625em 0.625em var(--shadow-16);
  }
  .sq-shadow-xl{
    box-shadow: 0 1.188em 2.375em var(--shadow-1E), 0 0.938em 0.750em var(--shadow-16);
  }
